<?xml version="1.0"?>
<launch>
  <node ns="/" pkg="dataspeed_can_usb" type="can_node" name="can_node" output="screen">
    <remap from="can_bus_1" to="can_bus_1"/>
    <param name="bitrate_1" value="0" />
    <remap from="can_bus_2" to="can_bus_2"/>
    <param name="bitrate_2" value="0" />
    <remap from="can_bus_3" to="can_bus_dbw"/>
    <param name="bitrate_3" value="500000" />
    <remap from="can_bus_4" to="can_bus_4"/>
    <param name="bitrate_4" value="0" />
  </node>

</launch>
