<?xml version="1.0" ?>

<launch>

  <arg name="relative_time" default="true" />

  <node pkg="dbw_csv_tools" type="bag_to_csv.py" name="bag_to_csv" output="screen" cwd="node" >
    <param name="file" value="/home/dspeed/Desktop/ftp/for_jeff_white.bag" />
    <param name="relative_time" value="$(arg relative_time)" />
    <rosparam file="$(find dbw_csv_tools)/yaml/topics.yaml" />
  </node>

</launch>
